.hh-accordion {
    .accordion {
        background-color: #fff;
        border-color: #e2e8f0;
        border-radius: 8px;
        border-style: solid;
        border-width: 1px;

        > details {
            position: relative;

            &:not(:first-child) {
                border-top: 1px solid #e2e8f0;
            }

            > summary {
                cursor: pointer;
                list-style: none;
                padding: 1em;

                &:focus {
                    outline: none;
                }

                &:hover .summary-chevron-up svg {
                    opacity: 1;
                }

                &::-webkit-details-marker {
                    display: none;
                }

                > a {
                    pointer-events: none;
                }
            }

            > *:not(summary):not(.summary-chevron-down) {
                border-top: 1px solid #e2e8f0;
                padding: 1em;
            }
        }

        .summary-chevron-up,
        .summary-chevron-down {
            background-color: #fff;
            pointer-events: none;
            position: absolute;
            right: 1em;
            top: 0.75em;

            svg {
                display: block;
            }
        }
    }
}
