.hh-accordion {
    [data-type="external"],
    [data-type="4"] {
        .video-embed {
            position: relative;
            overflow: hidden;
            padding-top: 56.25%;

            > iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }

    .accordion {
        background-color: var(
            --accordion-background-color,
            #fff
        );
        border-color: var(
            --accordion-border-color,
            #ccc
        );
        border-radius: var(
            --accordion-border-radius,
            8px
        );
        border-style: var(
            --accordion-border-style,
            solid
        );
        border-width: var(
            --accordion-border-width,
            1px
        );

        > details {
            position: relative;

            &:not(:first-child) {
                border-top: 1px solid var(
                    --details-border-color,
                    #ccc
                );
            }

            > summary {
                cursor: pointer;
                list-style: none;
                padding: 1em;

                &:focus {
                    outline: none;
                }

                &:hover .summary-chevron-up svg {
                    opacity: 1;
                }

                > a {
                    pointer-events: none;
                }
            }

            > :not(summary):not(.summary-chevron-down) {
                border-top: var(
                    --accordion-content-border-top,
                    1px solid #ccc
                );
                padding: 1em;
            }
        }

        .summary-chevron-up,
        .summary-chevron-down {
            background-color: var(
                --accordion-summary-chevron-background-color,
                #fff
            );
            pointer-events: none;
            position: absolute;
            right: 1em;
            top: 0.75em;
            width: 24px;

            svg {
                display: block;
            }
        }
    }
}
