<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hh="http://typo3.org/ns/HauerHeinrich/HhAccordion/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{data.tx_hhaccordion_type} === 0 && {settings.cssFileStyleAccordion}">
    <f:asset.css identifier="accordion" href="EXT:hh_accordion/Resources/Public/Css/{settings.cssFileStyleAccordion}.min.css" />
</f:if>

<f:if condition="{data.tx_hhaccordion_type} === 1 && {settings.cssFileStyleTabs}">
    <f:asset.css identifier="tabs" href="EXT:hh_accordion/Resources/Public/Css/{settings.cssFileStyleTabs}.min.css" />
</f:if>

</html>
