<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hh="http://typo3.org/ns/HauerHeinrich/HhAccordion/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{data.tx_hhaccordion_type} === 0 && {settings.jsFileAccordion}">
    <f:asset.script identifier="accordion" src="EXT:hh_accordion/Resources/Public/JavaScript/accordion.min.js" />
</f:if>

<f:if condition="{data.tx_hhaccordion_type} === 1 && {settings.jsFileTabs}">
    <f:asset.script identifier="tabs" src="EXT:hh_accordion/Resources/Public/JavaScript/tabs.min.js" />
</f:if>

<f:if condition="{data.tx_hhaccordion_type} === 0 && {settings.customJsAccordion}">
    <f:asset.script identifier="accordionCustom" src="{settings.customJsAccordion}" />
</f:if>

<f:if condition="{data.tx_hhaccordion_type} === 1 && {settings.customJsTabs}">
    <f:asset.script identifier="tabsCustom" src="{settings.customJsTabs}" />
</f:if>

</html>
