<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hhacc="http://typo3.org/ns/HauerHeinrich/HhAccordion/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">
<f:if condition="{data_tx_hhaccordion_content}">
    <f:for each="{data_tx_hhaccordion_content}" as="data_item" iteration="iterator">
        <f:if condition="{data_item.data.tx_hhaccordion_content_header}">
            <details id="accordion-{data.uid}-{iterator.index}">
                <summary data-hash="#accordion-{data.uid}-{iterator.index}">
                    {data_item.data.tx_hhaccordion_content_header}
                    <div class="summary-chevron-up">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </div>
                </summary>

                <div class="accordion-content">
                    <div class="ce-textpic ce-{data_item.gallery.position.horizontal} ce-{data_item.gallery.position.vertical}{f:if(condition: data_item.gallery.position.noWrap, then: ' ce-nowrap')}">
                        <f:if condition="{data_item.assets}">
                            <div class="ce-gallery {f:if(condition: '{data_item.data.tx_hhaccordion_content_default_assets_layout}', then: '{data_item.data.tx_hhaccordion_content_default_assets_layout}')}" data-ce-columns="{data_item.data.tx_hhaccordion_content_default_assets_columns}" data-ce-images="{data_item.assets -> f:count()}">
                                <f:for each="{data_item.assets}" as="file">
                                    <div class="ce-column" data-type="{file.type}">
                                        <f:switch expression="{file.type}">
                                            <f:case value="3">
                                                <f:render partial="Media/Type/Audio" arguments="{file: file, dimensions: dimensions, data: data, settings: settings}" />
                                            </f:case>
                                            <f:case value="4">
                                                <f:render partial="Media/Type/Video" arguments="{file: file, dimensions: dimensions, data: data, settings: settings}" />
                                            </f:case>
                                            <f:defaultCase>
                                                <f:render partial="Media/Type/Image" arguments="{file: file, dimensions: dimensions, data: data, settings: settings}" />
                                            </f:defaultCase>
                                        </f:switch>
                                    </div>
                                </f:for>
                            </div>
                        </f:if>

                        <f:if condition="{data_item.data.tx_hhaccordion_content_default_text}">
                            <div class="ce-bodytext">
                                <f:format.html>{data_item.data.tx_hhaccordion_content_default_text}</f:format.html>
                            </div>
                        </f:if>
                    </div>

                    <f:if condition="{data_item.elements}">
                        <div class="content-elements" data-ce-count="{data_item.elements -> f:count()}">
                            <f:for each="{data_item.elements}" as="element" iteration="i">
                                <f:cObject typoscriptObjectPath="tt_content" data="{element.data}" table="tt_content" />
                            </f:for>
                        </div>
                    </f:if>
                </div>

                <div class="summary-chevron-down">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                </div>
            </details>
        </f:if>
    </f:for>
</f:if>
</f:section>

</html>
